<nav class="navbar navbar-expand-lg navbar-light bg-dark">
	<a class="navbar-brand" routerLink="/">
		<span class="fa fa-building home-icon" aria-hidden="true"></span>
		<span class="pl-1">Devang Sharma Restaurant Finder</span>
	</a>
	<ul class="nav navbar-nav ml-auto">
		<li class="nav-item">
			<a href="https://github.com/Devang-25" target="self" class="nav-link">
				<span class="fa fa-github action-icons" aria-hidden="true"></span>
			</a>
		</li>
		<li class="nav-item">
			<a href="https://www.linkedin.com/in/devang25/" target="self" class="nav-link">
				<span class="fa fa-linkedin-square action-icons" aria-hidden="true"></span>
			</a>
		</li>
	</ul>
</nav>